/.pytest_cache/
/venv/
/allure-report/
/allure-results/
/.idea/
/__pycache__/
/pom/__pycache__/
/pom/pages/__pycache__/
/pom/tests/__pycache__/
/pytest_allure/__pycache__/
/pytest_allure/pythoncode/__pycache__/
/selenium_wechat/__pycache__/
/selenium_wechat/pages/__pycache__/
/selenium_wechat/tests/__pycache__/
