/.idea/
/.pytest_cache/
/__pycache__/
/allure-report/
/allure-results/
/venv/
/pom/__pycache__/
/pom/pages/__pycache__/
/pom/tests/__pycache__/
/pytest_allure/__pycache__/
/pytest_allure/pythoncode/__pycache__/
/selenium_wechat/__pycache__/
/selenium_wechat/pages/__pycache__/
/selenium_wechat/tests/__pycache__/
/selenium_appium/__pycache__
/selenium_appium/po/__pycache__/
/selenium_wechat/po/__pycache__/
/selenium_wechat/testcase/__pycache__/